<header>
  <h1>Request Stack</h1>
</header>

<div>
  <h2>Hey there!</h2>
  <p>Need a place to examine and throw away API calls or webhooks? This is it.</p>
  <p>Stacks are ephermeral and dissolve after 48 hours. Stacks are also limited by the laws of physics - they can only be 20 requests tall~</p>
  <p>Create a stack to start stacking!</p>
</div>

<div>
  <h2>Your existing stacks</h2>

</div>

<%= render 'form', bin: @bin %>