<p id="notice"><%= notice %></p>

<div>
  <h2>"Your bin URL is:"</h2>
  <h1><%= "https://localhost:3000/#{@bin.slug}" %></h1>
  <p>View previous requests to the endpoint here.</p>
</div>

<% @bin.requests.each do | request | %>
<%= render 'show_request', request: request %>
<% end %>

<%= link_to 'Back', root_path %>